// Colors

$dark: #151515;
$primary: #4CAF50;
$primaryb:  #4caf4f80;
$secondary: rgb(35, 66, 33);
$info:#2196F3;

// Font families

$style1: 'Chewy', cursive;
$style2: 'Asap', sans-serif;
$style3: 'Signika', sans-serif;